@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
    color: #fff;
    overflow-x: hidden;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;

}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;

}

.navbar a:hover, 
.navbar a.active {
    color: #0ef;

}

.portfolio {
    position: relative;
    width: 100%;
    margin-top: 200px;
}

.portfolio-box {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.portfolio .heading {
    margin-bottom: 5rem;
}

.portfolio-box img {
    width: 15rem;
    border-radius: 50%;
    border: 3px solid #1f242d;
    box-shadow: 0 0 25px #1f242d;
}

.portofolio-item {
    min-height: 550px;
    max-width: 450px;
    background: rgba(0, 0, 0, 0.3);
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor
}