@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
    color: #fff;
    overflow-x: hidden;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;

}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;

}

.navbar a:hover {
    color: #0ef;

}

.nav-links.active {
    color: #0ef;
}


.portfolio {
    position: relative;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 150px;
}

.portfolio-box {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.portfolio .heading {
    margin-bottom: 5rem;
    font-size: 56px;
}

.highligt {
    color:#0ef;
}

.portfolio-box img {
    width: 20rem;
    border: 3px solid #1f242d;
    box-shadow: 0 0 25px #1f242d;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.portofolio-item {
    min-height: 550px;
    max-width: 450px;
    background: rgba(0, 0, 0, 0.3);
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: #fff;
    transition: 0.4s ease-in-out;
}

.portofolio-item:hover {
    border: 3px solid #0ef;
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0 0 50px #0ef;
}

.figma-link-box {
    background-color: # 
    border: 1px solid #0ef;    
    padding: 5px 10px;         
    text-align: center;       
    margin-top: 10px;          
    display: inline-block;    
    border-radius: 20px;        
}

.figma-link-box a {
    text-decoration: none;    
    color: #1f242d;              
    font-weight: 600;         
}

.figma-link-box a:hover {
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0 0 50px #0ef;   /* Ubah warna link saat hover */
}


.portofolio-item h2 {
    font-size: 1.8rem;
}

.portofolio-item p {
    font-size: 1.3rem;
    text-align: left;
}

#star {
    color: gold;
    font-size: 1.8rem;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.3);

}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #0ef;

}

.footer .social a {
    font-size: 25px;
    color: #0ef;
    border: 2px solid #0ef;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;

}

.footer .social a:hover {
    transform: scale(1.2)translateY(-10px);
    background-color: #0ef;
    color:#1f242d;
    box-shadow: 0 0 25px #0ef;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color:#fff;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
    border-bottom: 3px solid #0ef;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color:#fff;
}